// Colors:

$color-primary-dark: #191919;
$color-primary-light: #EFEFEF;
$color-primary-red-lighter: #e25858;
$color-primary-red: #C34E4E;
$color-primary-red-darker: #B24545;


$color-black: #000000;
$color-white: #ffffff;


$color-grey-1: #404040;
$color-grey-2: #3C3C3C;
$color-grey-3: #202020;


// Brand Colors:
$color-linkedin: #0072b1;
$color-instagram: #FA7E1E;
$color-facebook: #316FF6;
$color-dribble: #ea4c89;


// CubicBezier Curves - Animation
$hard-ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
$funky-cubic-bezier: cubic-bezier(0.34, 1.56, 0.64, 1);